@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

a{
  text-decoration: none;
}
 header{
    background: linear-gradient(181deg, #2193B0 0.53%, #6DD5ED 99.54%);
    height: 551px;
  }
.menu a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.menu li a {
    font-weight: normal;    
}
.menu ul {
    list-style: none;
    display: none;
 }

.menu{
    display: flex;
    align-items: center;
    padding: 0 30px;
    min-width: 320px;
    height: 87px;
}
.principal-menu{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: flex-end;
}
.about{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 30px;
  padding-top: 60px;
}
h1{
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: left;
  
}
.name{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;

}
.about-me{
  width: 265.02px;
  height: 111px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.line{
  width: 73.9px;
  display: flex;
  color: white;
}
.learn{
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-end;
  align-items:center;
  height: 20px;
}
.more{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;  
  color: white;
  padding-left: 30px;
}

.services{
  background:#FBFBFB;
}
.cards-container{
  padding-top: 30px;
  display: grid;
  justify-content: center;
  gap: 30px;
  padding-bottom: 90px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 203.54px;
  height: 240.59px;
  background-color: white;
  border-radius: 10px;
  border-bottom: 4px solid #2193B0
}
.content{
  width: 187.43px;
  height: 166.49px;
  display: grid;
  justify-items: center;

}
.img-card{
  align-self: center;
}

.one{
  height: 51px;
}
.two{
  height: 40.42px;
}
.three{
  height: 52.93px;
}
.resume{
  padding-top: 30px;
}
.cards-container-2{
  display: grid;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}
.resume-card{
  width: 339px;
  height: 152px;
  border-radius: 10px;
  border: 1px solid #F5F5F5;
  border-bottom: 5px solid  #F5F5F5;
  display: grid;
  row-gap: 5px;
}
.resume-info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}
.education{
  padding-top: 30px;
  display: grid;
  justify-content: center;
}
.experience{
  padding-top: 30px;
  display: grid;
  justify-content: center;
}
h3{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #2193B0;
  padding-top: 30px;
}
h2{
  font-family: Poppins;
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #4A4A4A;
  padding-top: 10px;

}

h4{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.service-cont{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  
}
h5{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.title{
  align-self: flex-start;
}
.date{
  width: 67.36px;
  height: 19px;
  border-radius: 3px;
  background: #FFB470;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-cont{
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color:#8A8A8A;
  width: 305px;
  height: 52px;
  justify-self: center;

}
.another-menu{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #6DD5ED;
}
.others{
  border: 1px solid #6DD5ED;
}
.all{
  border: none;
  background:#6DD5ED;
  color: white;
}
.big{
  width: 344px;
  height: 394px;
}

.quote{
  max-width: 394px;
  height: 301px;
}
.quote img{
  width: 100%;
}
.quote-cont{
color: white;

}
.quote-cont img{
  width: 29px;
  height: 27px;
}
.social-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-m-menu{
  width: 42px;
  height: 42px;
  border-radius: 28px;
  display: flex;
}

.works{
  background:#FBFBFB;
}
footer{
  background: #2193B0;
}

.big-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



